<?xml version="1.0" ?>
<config>
    <modules>
        <Soularpanic_TRSReports>
            <version>0.0.4</version>
        </Soularpanic_TRSReports>
    </modules>

    <global>
        <models>

            <trsreports>
                <class>Soularpanic_TRSReports_Model</class>
                <resourceModel>trsreports_resource</resourceModel>
            </trsreports>

            <trsreports_resource>
                <class>Soularpanic_TRSReports_Model_Resource</class>
                <entities>
                    <excludedproduct>
                        <table>trsreports_excluded_products</table>
                    </excludedproduct>

                    <product_piece_product>
                        <table>trsreports_piece_product</table>
                    </product_piece_product>
                    <product_piece_product_deprecated>
                        <table>trsreports_product_lines</table>
                    </product_piece_product_deprecated>

                    <product_piece_link>
                        <table>trsreports_product_piece_links</table>
                    </product_piece_link>
                    <product_piece_link_deprecated>
                        <table>trsreports_product_line_links</table>
                    </product_piece_link_deprecated>
                </entities>
            </trsreports_resource>

        </models>

        <resources>
            <trsreports_setup>
                <setup>
                    <module>Soularpanic_TRSReports</module>
                    <class>Soularpanic_TRSReports_Model_Resource_Setup</class>
                </setup>
            </trsreports_setup>
        </resources>

        <blocks>
            <trsreports>
                <class>Soularpanic_TRSReports_Block</class>
            </trsreports>
        </blocks>

        <helpers>
            <trsreports>
                <class>Soularpanic_TRSReports_Helper</class>
            </trsreports>
        </helpers>
    </global>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Soularpanic_TRSReports before="Mage_Adminhtml">Soularpanic_TRSReports</Soularpanic_TRSReports>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <adminhtml>
        <layout>
            <updates>
                <trsreports>
                    <file>TRSReports.xml</file>
                </trsreports>
            </updates>
        </layout>
    </adminhtml>
</config>