<?xml version="1.0" ?>
<config>
    <modules>
        <Soularpanic_TRSReports>
            <version>0.0.9</version>
        </Soularpanic_TRSReports>
    </modules>

    <global>
        <models>

            <trsreports>
                <class>Soularpanic_TRSReports_Model</class>
                <resourceModel>trsreports_resource</resourceModel>
            </trsreports>

            <trsreports_resource>
                <class>Soularpanic_TRSReports_Model_Resource</class>
                <entities>
                    <excludedproduct>
                        <table>trsreports_excluded_products</table>
                    </excludedproduct>

                    <product_piece_product>
                        <table>trsreports_piece_product</table>
                    </product_piece_product>
                    <product_piece_product_deprecated>
                        <table>trsreports_product_lines</table>
                    </product_piece_product_deprecated>

                    <product_piece_link>
                        <table>trsreports_product_piece_links</table>
                    </product_piece_link>
                    <product_piece_link_deprecated>
                        <table>trsreports_product_line_links</table>
                    </product_piece_link_deprecated>

                    <product_tree>
                        <table>trs_product_trees</table>
                    </product_tree>

                    <product_tree_node>
                        <table>trs_product_tree_nodes</table>
                    </product_tree_node>

                    <daily_metric>
                        <table>trsreports_daily_metrics</table>
                    </daily_metric>

                </entities>
            </trsreports_resource>

        </models>

        <resources>
            <trsreports_setup>
                <setup>
                    <module>Soularpanic_TRSReports</module>
                    <class>Soularpanic_TRSReports_Model_Resource_Setup</class>
                </setup>
            </trsreports_setup>
        </resources>

        <blocks>
            <trsreports>
                <class>Soularpanic_TRSReports_Block</class>
            </trsreports>
        </blocks>

        <helpers>
            <trsreports>
                <class>Soularpanic_TRSReports_Helper</class>
            </trsreports>
        </helpers>

        <events>
            <core_block_abstract_prepare_layout_after>
                <observers>
                    <trsreports_load_200_by_default>
                        <type>model</type>
                        <class>trsreports/observers_grid</class>
                        <method>defaultTo200Records</method>
                    </trsreports_load_200_by_default>
                </observers>
            </core_block_abstract_prepare_layout_after>
            <catalog_product_collection_load_before>
                <observers>
                    <trsreports_hide_archived_by_default>
                        <type>model</type>
                        <class>trsreports/observers_grid</class>
                        <method>defaultToHiddenArchives</method>
                    </trsreports_hide_archived_by_default>
                </observers>
            </catalog_product_collection_load_before>
        </events>

        <template>
            <email>
                <test_email_template module="trsreports">
                    <label>Test Label</label>
                    <file>trsreports_proto.html</file>
                    <type>html</type>
                </test_email_template>
            </email>
        </template>
    </global>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Soularpanic_TRSReports before="Mage_Adminhtml">Soularpanic_TRSReports</Soularpanic_TRSReports>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <adminhtml>
        <layout>
            <updates>
                <trsreports>
                    <file>TRSReports.xml</file>
                </trsreports>
            </updates>
        </layout>
    </adminhtml>

    <crontab>
        <jobs>
            <trsreports_update_daily_metrics>
                <schedule>
                    <cron_expr>0 3 * * *</cron_expr> <!-- 0300 daily -->
                    <!--<cron_expr>* * * * *</cron_expr>-->
                </schedule>
                <run>
                    <model>trsreports/observers_reports_schedule::updateDailyMetrics</model>
                </run>
            </trsreports_update_daily_metrics>
            <trsreports_daily_metrics_report>
                <schedule>
                    <cron_expr>0 4 * * *</cron_expr> <!-- 0400 daily -->
                </schedule>
                <run>
                    <model>trsreports/observers_reports_schedule::emailDailyMetricsReport</model>
                </run>
            </trsreports_daily_metrics_report>
            <trsreports_sales_tax_report>
                <schedule>
                    <cron_expr>1 0 1 * *</cron_expr> <!-- 0001 each first of the month -->
                    <!--<cron_expr>* * * * *</cron_expr>-->
                </schedule>
                <run>
                    <model>trsreports/observers_reports_schedule::emailSalesTaxReport</model>
                </run>
            </trsreports_sales_tax_report>
            <trsreports_international_sales_overview_report>
                <schedule>
                    <cron_expr>1 0 1 * *</cron_expr> <!-- 0001 each first of the month -->
                    <!--<cron_expr>* * * * *</cron_expr>-->
                </schedule>
                <run>
                    <model>trsreports/observers_reports_schedule::emailInternationalSalesOverviewReport</model>
                </run>
            </trsreports_international_sales_overview_report>
            <trsreports_delivery_and_value_report>
                <schedule>
                    <cron_expr>1 0 1 * *</cron_expr> <!-- 0001 each first of the month -->
                    <!--<cron_expr>* * * * *</cron_expr>-->
                </schedule>
                <run>
                    <model>trsreports/observers_reports_schedule::emailDeliveryAndValueReport</model>
                </run>
            </trsreports_delivery_and_value_report>
        </jobs>
    </crontab>

    <default>
        <trs_automated_reports>
            <sales_tax_report>
                <recipients>josh@theretrofitsource.com</recipients>
            </sales_tax_report>
            <international_sales_reports>
                <recipients>josh@theretrofitsource.com</recipients>
            </international_sales_reports>
            <daily_metrics_report>
                <recipients>josh@theretrofitsource.com</recipients>
            </daily_metrics_report>
            <delivery_and_value_report>
                <recipients>josh@theretrofitsource.com</recipients>
            </delivery_and_value_report>
        </trs_automated_reports>
    </default>
</config>