<?xml version="1.0"?>
<config>
    <sections>
        <trs_reports translate="label">
            <label>TRS Reports</label>
            <tab>trs</tab>
            <frontend_type>text</frontend_type>
            <sort_order>700</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <daily_metrics_report translate="label">
                    <label>Daily Metrics Report</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>100</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <recipients translate="label">
                            <label>TRS Daily Metrics Report Recipients</label>
                            <comment>Separate recipients with a comma</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </recipients>
                    </fields>
                </daily_metrics_report>
                <international_sales_reports translate="label">
                    <label>International Sales Report</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>150</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <recipients translate="label">
                            <label>TRS International Sales Report Recipients</label>
                            <comment>Separate recipients with a comma</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </recipients>
                    </fields>
                </international_sales_reports>
                <sales_tax_report translate="label">
                    <label>Sales Tax Report</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>100</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <recipients translate="label">
                            <label>TRS Sales Tax Report Recipients</label>
                            <comment>Separate recipients with a comma</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>200</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </recipients>
                    </fields>
                </sales_tax_report>
                <low_stock_by_availability_report translate="label">
                    <label>Low Stock By Availability Reports</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>250</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <low_medium_threshold translate="label">
                            <label>Low-Medium Availability Threshold</label>
                            <comment>In Weeks</comment>
                            <frontend_type>text</frontend_type>
                            <validate>validate-number</validate>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </low_medium_threshold>
                        <medium_high_threshold translate="label">
                            <label>Medium-High Availability Threshold</label>
                            <comment>In Weeks</comment>
                            <frontend_type>text</frontend_type>
                            <validate>validate-number</validate>
                            <sort_order>200</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </medium_high_threshold>
                    </fields>
                </low_stock_by_availability_report>
                <future_forecast_report translate="label">
                    <label>Future Forecast Report</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>300</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <average_period translate="label">
                            <label>Average Period</label>
                            <comment>Current sales average to be calculated over n weeks</comment>
                            <frontend_type>text</frontend_type>
                            <validate>validate-number</validate>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </average_period>
                    </fields>
                </future_forecast_report>
            </groups>
        </trs_reports>
        <trs_logging>
            <groups>
                <logs>
                    <fields>
                        <trs_reports_log translate="label">
                            <label>TRS Reports Module Logging</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>90</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </trs_reports_log>
                    </fields>
                </logs>
            </groups>
        </trs_logging>
    </sections>
</config>